
.choose-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.choose-button {
    width: 200px; 
    height: 200px;
    margin: 20px; 
    padding: 20px;
    border: solid;
    border-radius: 30px;
    border-width: 3px;
    border-color: orange;
    background-color: lightgoldenrodyellow;
    font-size: 15px;
}

.choose-button:hover {
    background-color: orange;
}

.choose-signup-img {
    width: 10%; 
}

.h1-choose-signup {
    color: black;
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

.p-choose-signup {
    font-size: 2vw;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

/* a {
    color: brown;
    text-decoration: none;
} */