.choose-login {
    text-align: center;
    padding:30px;
    
}

.button {
    width: 30%; 
    margin: 20px; 
    padding: 20px;
    border: solid;
    border-radius: 30px;
    border-width: 3px;
    border-color: orange;
    background-color: lightgoldenrodyellow;
    color: brown;
    font-size: 15px;
}

.h1-choose-login {
    color: black;
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

.p-choose-login {
    font-size: 2vw;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

.choose-login-img {
    width: 10%; 
}
