.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    background-color: transparent;
}

.navbar-logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.logo {
    width: 50px;
    margin-right: 20px;
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.nav-link:hover {
    color: orange;
}

.active {
    color: #FF4600;
}

/* .explore {
    margin: 5px;
}

.search {
    margin: 5px;
} */

.login {
    margin: 5px;
    background-color: transparent;
    font-family: DM Sans;
    font-weight: 500;
}

.login:hover {
    background-color: white;
}

.signup {
    margin: 5px;
    background-color: #FFBA3C;
    font-family: DM Sans;
    font-weight: 500;
}

.signup:hover {
    background-color: #FFA500;
}

.login-signup {
    margin-left: auto;
}

.login-signup button {
    border-radius: 44px;
    border-width: 1.5px;
    font-size: 18px;
    padding: 10px;
    width: 89px;
}

/* search bar container */
.search-bar {
    display: flex;
    /* max-width: 1800px; */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    padding: 2.5px;
    position: relative;
    /* background-color: #fff9ed; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
.inner-search-bar {
    padding: 12px 20px;
    border: 3px dotted #ddd;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}
  
.inner-search-bar:focus {
    border: 3px dotted #4ba2ff;
    box-shadow: 0px 0px 5px rgba(50, 149, 255, 0.3);
}
  
.search-button {
    background-color: white;
    border: 3px dotted #ddd;
    padding: 12px 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 48px;
    width: 48px;
    /* Move to be on top of the search bar */
    position: absolute;
    right: 2px;
}
  
.search-button:hover {
    border: 3px dotted #00d87b;
    box-shadow: 0px 0px 5px rgba(50, 255, 207, 0.3);
}
  
.search-button:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.3);
}