@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

form {
    text-align: center;
    font-family: DM Sans;
}

.signup-page {
    display: flex;
    align-items: center;
}

.signup-right {
    width: 50vw;
   
}

.business-signup-form {
    display: grid;
    justify-content: center;
}

.h1-signup {
    color: darkorange;
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-family: DM Sans;
}

.input-box {
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: orange;
    border-width: 2px; 
    background-color: lightyellow;
    font-family: DM Sans;
    height: 30px;
    width: 300px;
}

.submit {
    color: rgb(92, 1, 1);;
    padding: 5px;
    border-style: solid;
    border-radius: 30px;
    border-color: orange;
    border-width: 2px; 
    background-color: orange;
    font-family: DM Sans;
    margin-top: 30px;
    padding: 10px;
    font-size: 15px;
}

.submit:hover {
    background-color: darkorange;
}

.input-label {
    color: darkorange;
    font-family: DM Sans;
    font-weight: 500;
    align-self: flex-start;
}

.location-div {
    display: flex;
    flex-direction: row;
}

.address-div1 {
    width: 220px;
    margin-right: 35px;
}

.address-div2 {
    width: 100px;
    
}

.address-div3 {
    width: 100px;
    margin-right: 56px;
}

.address-div4 {
    width: 100px;
}

.address-div1 .input-box {
    width: 235px;
}

.address-div2 .input-box {
    width: 100px;
}

.address-div3 .input-box {
    width: 150px;
    height: 45px;
}

.address-div4 .input-box {
    width: 100px;
}

.input-div {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.signup-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-img {
    width: 50vw;
    height: 100vh;
}

.signup-img1 {
    background-image: url(../../public/business-signup-bg.jpg);
    width: 50vw;
    height: 140vh;
}

@media (max-width: 768px) {
    .signup-img {
        width: 0px;
        height: 0px;
    }

    .signup-right {
        width: 100vw;
        margin-top: 16vh;
    }
}

.signup-logo {
    width: 80px;
}
