.h1-explore {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-top: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

.explore-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.image-container {
    position: relative;
    width: 150px;
    height: 150px; 
    overflow: hidden; 
}
  
.image-container img {
    width: 100%;
    height: 100%;
    /* image covers container while maintaining aspect ratio */
    object-fit: cover; 
    filter: brightness(0.65);
    border-radius: 20px;
}

.image-container:hover {
    filter: brightness(0.85);
}

.centered-text {
    position: absolute;
    top: 50%;
    /* moves top left corner of the text to the center of the image-container */
    left: 50%; 
     /* moves element to the left and upwards by 50% of its own width */
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 20px; 
    font-weight: 600; 
}

.cuisine-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    max-width: 490px;
    margin: 50px auto;
}

.cards {
    display: flex;
    /* wrap to next row when space is filled */
    flex-wrap: wrap;
}

.restaurant-card {
    /* Space between rows */
    margin-bottom: 20px;
}

.explore-centered-div {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h2-explore {
    font-size: 22px;
    font-weight: 500;
}