@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.restaurant-card {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    /* max-width: 600px; */
    /* height: auto; */
    width: 600px;
    /* height: 650px; */
    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 22.5px;
    text-align: center;
    cursor: url("./assets/pizza_mouse.png"), auto;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    display: block;
    font-weight: bold;
    color: rgb(37, 21, 21);
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

.pic {
    /* border: 2px solid rgb(255, 255, 255); */
    /* border:  solid orange; */
    border-radius: 10px;
    /* margin: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 99.5%;
    height: 99.5%;
}

/* Container for the labels */
.labels {
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    /* Distribute labels equally */
    justify-content: space-evenly;
    padding: 5px;      
    gap: 10px;      
    margin-bottom: 10px;    
}

.label {
    background-color: orange; 
    /* background-color: rgb(163, 230, 255); */
    color: rgb(0, 0, 0);
    margin: 0px;
    /* Create oval shape dimensions */
    padding: 10px 15px;           
    /* Create oval shaped corners */
    border-radius: 30px;
    font-size: 20px;  
    font-weight: 700;
    font-family: DM Sans;
    /* Make everything uppercase */
    text-transform: uppercase;
    /* Light shadow for depth */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    /* Helps smooth the hover effect */
    transition: transform 0.25s ease-in-out;
}

.more-comments-button {
    font-family: DM Sans;
}

/* Hover effect */
.label:hover {
    /* Slightly enlarge the label on hover */
    transform: scale(1.2);
}

.rating {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: DM Sans;
    font-weight: 500;
}

p0 {
    font-size: 16px;
    font-style: italic;
    color: #ff5b49;
    text-align: center;
    font-family: DM Sans;
}

p {
    font-family: DM Sans;
    font-weight: 500;
}

.additional {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    font-family: DM Sans;
    font-weight: 500;
}

.expand-button {
    /* background-color: lightgray; */
    background-color: rgb(254, 190, 105);
    color: black;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: crosshair;
    font-family: DM Sans;
    font-weight: 500;
}

.expand-button:hover {
    /* background-color: #acdeff;  */
    background-color: darkorange; 
}

.comments-button {
    /* background-color: lightgray; */
    background-color:  rgb(254, 190, 105);
    color: black;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: crosshair;
    font-family: DM Sans;
    font-weight: 500;
}

.comments-button:hover {
    /* background-color: #ffacae;  */
    background-color: darkorange;
}

.comments-section {
    background-color: rgb(255, 230, 193);
    font-family: DM Sans;
    /* background-color: orange; */
}

.comments-header {
    text-decoration: underline;
    font-family: DM Sans;
}

.comment {
    border-radius: 10px;
    max-width: 85%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 2px;
    background-color: blanchedalmond;
    font-family: DM Sans;
}

.add-comment {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 85%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-comment textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
}

.submit-comment {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}